@keyframes slidein-right {
  from {
    right: -350px;
  }

  to {
    right: 0;
  }
}

@keyframes slidein-left {
  from {
    left: -350px;
  }

  to {
    left: 10px;
  }
}

.map-sidebar-col {
  &-left {
    padding: 0;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
  }

  &-right {
    padding: 0;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
  }
}

.map-sidebar-wrapper {
  position: relative;
  z-index: 400;
  max-height: 85vh;
  overflow-y: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  & > div {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-left {
    & > div {
      width: calc(100% - 10px);
      left: 10px;
      position: relative;
      animation-duration: 0.8s;
      animation-name: slidein-left;
    }
  }

  &-right {
    & > div {
      width: calc(100% - 10px);
      right: 0;
      position: relative;
      animation-duration: 0.8s;
      animation-name: slidein-right;
    }
  }
}

.classifiers {
  &-sidebar {
    position: relative;
    top: 50%;
    width: 100%;
    height: 100%;
    max-height: 85vh;
    padding: 0;
    border-radius: 4px;
    transform: translateY(-50%);

    &.side-active {
      left: 0;
    }
  }

  &-table {
    &-wrapper {
      width: 100%;
      max-height: 85vh;
      overflow: hidden;
      border-radius: 4px;
    }
  }
}
