@keyframes slidein-right {
  from {
    right: -350px;
  }

  to {
    right: 0;
  }
}

@keyframes slidein-left {
  from {
    left: -350px;
  }

  to {
    left: 0;
  }
}

.map-sidebar-wrapper{
  position: absolute;
  z-index: 400;
  max-height: calc(100% - 10px);
  width: 300px;
  top: 10px;
  transition: left ease-in-out 1s, right ease-in-out 1s;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    display: none;
  }
  

  & > div{
    margin-bottom: 20px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  &-left {
      left: 10px; 
      
      & > div{ 
        position: relative;
        animation-duration: 0.8s;
        animation-name: slidein-left;
      }
  }

  &-right {
      right: 10px;

      & > div{ 
        position: relative;
        animation-duration: 0.8s;
        animation-name: slidein-right;
      }
  }
}